$white-1: #fff;
$white-2: rgba(255, 255, 255, 0.5);
$white-3: #f3f2f0;
$white-4: rgba(255, 255, 255, 0.75);
$white-5: rgba(255, 255, 255, 0.8);
$white-6: rgba(255, 255, 255, 0.2);
$black-1: #000;
$grey-1: #777777;
$pink-1: #fd5597;
$pink-2: rgba(255, 234, 192, 0.63);
$purple-1: #ded0f2;
$yellow-1: #ffd80d;
$yellow-2: #f0b700;
$yellow-3: #febf47;
$yellow-4: #fce07f;
$yellow-5: #ffdd00;
$oranger-1: #fdc927;
$orange-2: rgba(253, 238, 206, 0.2);
$orange-3: rgba(253, 238, 206, 0.5);
$blue-1: #399ffe;
$blue-2: #0090f8;
$blue-3: #5c94ff;
$green-1: rgba(18, 171, 15, 1);
$green-2: #d1e8b0;
$green-3: rgba(199, 227, 107, 0.5);
$shadow-1: rgba(0, 0, 0, 0.25);
$overlay: rgba(0, 0, 0, 0.4);
$overlay-1: rgba(0, 0, 0, 0.9);
